.h0{
    font-size: 70px;
}

.h1 {
    font-size: 40px;
}

.h2 {
    font-size: 32px;
    word-spacing: 3px;
}

.h3 {
    font-size: 28px;
}

.h4 {
    font-size: 24px;
}

.h5 {
    font-size: 20px;
}

.h6 {
    font-size: 16px;
}

.h7{
    font-size: 12px;
}

.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: var(--fw);
}


.text-center {
    text-align: center;
}

.twidth-1{
    max-width: 20rem;
}
.twidth-2{
    max-width: 25rem;
}
.twidth-3{
    max-width: 30rem;
}
.twidth-4{
    max-width: 35rem;
}
.twidth-5{
    max-width: 45rem;
}

.lh-1{
    line-height: 1.5rem;
}
.lh-2{
    line-height: 2rem;
}
.lh-3{
    line-height: 3rem;
}